.gkp-header--text {
    text-decoration: none;
    color: 	(0,0,139);
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    color: #0A0066;
}

.gkp-header--projects {

}

.gkp-header--about {
}

.gkp-header--contact {
}

.gkp-header-items {
  font-size: 50px;
  flex-direction: row;
  display: inline-block;
  padding: 30px;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.gkp-header {
  text-align: center;
}
